.head1
{
    margin-top: 25px;
}
.head2
{
    margin-top: -38px;
    margin-left: 995px;
}
.head3, .head4
{
    margin-top: 40px;
}
.head5, .head7, .head8, .head9
{
    margin-top: 15px;
}
.head6
{
    margin-top: 10px;
}
.ip1, .ip2
{
    width: 500px;
    height: 35px;
}
.button1
{
    margin-top: 10px;
    width: 121px;
    border: 1px solid blue;
    background-color: blue;
    border-radius: 4px;
    color: white;
    height: 35px;
}
.button2
{
    border: 1px solid lightgray;
    background-color: lightgray;
    border-radius: 5px;
    width: 59px;
    font-size: 15px;
}
.button3
{
    border: 1px solid lightgray;
    background-color: lightgray;
    border-radius: 5px;
    margin-left: 10px;
    font-size: 15px;
}